ion-content ion-toolbar {
  --background: translucent;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
 
  text-align: left;
  padding: 8px;
}

td{
  font-size: 1.17em; 
  color: rgb(146, 7, 173);
}

th {
  font-size: 1.17em; font-weight: bolder;
  color:rgb(0, 0, 0);

}